<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Room</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-800 flex justify-center items-center min-h-screen">
    <div class="content">
      <p id="role-details" class="mb-5 self-start">Welcome to Avalon World</p>
      <div class="flex flex-col items-center w-500 space-y-5">
        <div>
          <span class="pr-4">Username</span>
          <input
            type="text"
            name="username"
            id="username"
            class="block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
          />
        </div>
        <div>
          <span class="pr-4">Room Code</span>
          <input
            type="text"
            name="room-code"
            id="room-code"
            class="block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
          />
        </div>
        <div>
          <button
            onclick="setUsernameCookie()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Create Room
          </button>
          <button
            onclick="setUsernameCookie()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Join Room
          </button>
        </div>
        <!-- <button hx-get="/api/get-role" hx-target="#role-details" hx-swap="innerHTML">Change Role</button> -->
      </div>
    </div>
    <script>
      function setUsernameCookie() {
        var usernameInput = document.getElementById("username").value;
        var roomCodeInput = document.getElementById("room-code").value;
        // Calculate expiration date (1 day from now)
        var expirationDate = new Date();
        expirationDate.setDate(expirationDate.getDate() + 1);
        document.cookie =
          "username=" +
          usernameInput +
          "; expires=" +
          expirationDate.toUTCString() +
          "; path=/";

        document.cookie =
          "room-code=" +
          roomCodeInput +
          "; expires=" +
          expirationDate.toUTCString() +
          "; path=/";
      }
      function getCookieValue(cookieName) {
        var name = cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookieArray = decodedCookie.split(";");
        for (var i = 0; i < cookieArray.length; i++) {
          var cookie = cookieArray[i].trim();
          if (cookie.indexOf(name) == 0) {
            return cookie.substring(name.length, cookie.length);
          }
        }
        return null;
      }
      function init() {
        var usernameInput = document.getElementById("username");
        // Check if the username cookie exists
        var usernameCookie = getCookieValue("username");
        if (usernameCookie !== null) {
          usernameInput.value = usernameCookie;
        }
        var roomCodeInput = document.getElementById("room-code");
        // Check if the roomCode cookie exists
        var roomCodeCookie = getCookieValue("room-code");
        if (roomCodeCookie !== null) {
          roomCodeInput.value = roomCodeCookie;
        }
      }
      init();
    </script>
  </body>
</html>
<style>
  span,
  p,
  button {
    color: whitesmoke;
  }
  .content {
    position: relative;
    z-index: 1;
  }

  .content p {
    margin-top: 20px;
    font-size: 1.5em;
  }
</style>
